#container{
margin: 0 25%;}
h1{
width:60vh;
height:20vh;
margin: 0 auto;
line-height:20vh;
color:black;
text-align:center;
}
body{
    background-color:white;
    margin: 0;
    overflow: hidden;
}
#tablehead{
    background-color: #B5A087;
    text-align: right;
    height: 1vh;
}
#table{
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    font-size: 2vh; 
}   

button{
    /* border: 1px solid black; */
    border: 0px solid black;
    margin: 6px;
    background-color:rgb(127, 165, 236)
    ;
    width: 18vh;
    height: 10vh;
}
button:hover{
    color: white;
    background-color: rgb(0, 0, 0);
}
button>a:hover{
    color: white;
}